body {
  color: #4D4D4D;
}
.subdued {
  color: #8C8C8C;
}
.skinny {
  max-width:500px; margin:40px auto 0 auto
}
.logo-bauble {
  height: 75px; width: 75px; background-color: #0079BF;
  border-radius:37.5px;
  display: inline-block;
}
.logo-bauble img {
  margin: 12.5px;
  height: 50px; width: 50px;
}
.title h4 {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.title {
  margin-bottom:30px;
}
